.bg-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  background-image: url("../../../assets/svg/movie_frame.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 25rem;
  width: 40rem;
  background-color: aliceblue;
  border-radius: 25px 25px;
  text-align: center;
  padding: 15px;
  position: relative;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.3rem;
}

.close {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
